body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
#nav-1 {
    display: flex;
    justify-content: space-between;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 24px;
    padding-bottom: 24px;
}

#logo-search {
    display: flex;
    align-items: center;
    gap: 24px;
}

#logo-search img {
    width: 130px;
    height: auto;
}

#logo-search-input {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#logo-search-input input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border-radius: 24px;
    border: 1px solid #616161;
    font-size: 14px;
}

#search-star {
    position: absolute;
    left: 10px;
    top: 47%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #616161;
}

#profile-button {
    display: flex;
    align-items: center;
    gap: 24px;
}

#profile-star1 {
    color: #616161;
}

#profile-button button {
    width: 105px;
    height: 38px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    color: #ffffff;
    background-color: #005555;
}

#profile-name {
    display: flex;
    align-items: center;
    gap: 11px;
}

#profile-bell {
    color: #005555;
    display: none;
}

#profile-button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#profile-username {
    font-size: 14px;
}

#profile-star2 {
    color: #616161;
}

/* MAIN */
#main-1 {
    display: flex;
    justify-content: space-between;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 60px;
}

/* LEFT */
#main-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 19px;
    width: 901px;
}

#main-left-title {
    font-size: 24px;
    font-weight: 700;
    color: #1D2433;
    margin: 0;
    margin-bottom: 0;
}

#main-left-input {
    display: none;
}

#main-left-list {
    display: flex;
    justify-content: space-between;
    width: 901px;
}

#main-left-list ul {
    display: flex;
    gap: 8px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#main-left-list ul li {
    list-style: none;
}

#main-left-list ul li button {
    padding: 10px;
    border-radius: 24px;
    border: none;
    background-color: #3A354114;
    font-size: 12px;
    color: #222325;
}

#main-left-list button {
    border-radius: 4px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    color: #005555;
}

/* CARD */
#main-left-card {
    display: flex;
    width: 901px;
    height: 153px;
    gap: 24px;
}

#main-left-card img {
    width: 225px;
    height: 150px;
    border-radius: 5px;
}

#left-card-content {
    display: flex;
    flex-direction: column;
    width: 652px;
    height: 153px;
    gap: 10px;
}

#left-card-date {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #4A505C;
}

#left-card-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#left-card-title-text p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    color: #1D2433;
}

#left-card-title-profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

#left-card-title-profile img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

#left-card-title-profile p {
    font-size: 16px;
    color: #4A505C;
    margin-top: 0;
    margin-bottom: 0;
}

#left-card-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

#left-card-category button {
    font-size: 12px;
    border: 1px solid #3A35413B;
    background-color: transparent;
    border-radius: 24px;
    padding: 8px;
}

#left-card-category i {
    color: #4A505C;
}

/* RIGHT */
#main-right {
    width: 367px;
    height: 763px;
    padding: 16px;
    gap: 24px;
}

/* BACAAN POPULER */
#main-right-list {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

#list-title {
    font-size: 24px;
    font-weight: 700;
    color: #1D2433;
    margin: 0;
}

/* CARD */
#frame-card {
    background-color: #FDF0CC;
    box-shadow: 0px 2px 10px 0px #3A35411A;
    padding: 16px;
    border-radius: 16px;
    width: 335px;
    height: 125px;
}

#frame-card2 {
    background-color: #E5EEEE;
    box-shadow: 0px 2px 10px 0px #3A35411A;
    padding: 16px;
    border-radius: 16px;
    width: 335px;
    height: 125px;
}

#list-card {
    gap: 8px;
    width: 320px;
    height: 114px;
}

#list-card-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#card-number {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #4A505C;
}

#card-date {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #4A505C;
}

#list-card-title {
    font-size: 16px;
    font-weight: 600;
    color: #1D2433;
}

#list-card-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#list-card-profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0;
}

#list-card-profile p {
    font-size: 14px;
    font-weight: 500;
    color: #4A505C;
    margin: 0;
}

/* RECENT */
#main-right-recent {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#recent-title {
    font-size: 24px;
    font-weight: 700;
    color: #1D2433;
    margin-bottom: 0;
}

/* CARD */
#list-recent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* CARD 1 */
#recent-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recent-card-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#recent-card-profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0;
}

#recent-card-profile p {
    font-size: 18px;
    font-weight: 500;
    color: #1D2433;
    margin: 0;
}

#recent-card button {
    border: 1px solid #005555;
    border-radius: 24px;
    background-color: transparent;
    color: #005555;
    font-size: 12px;
    font-weight: 600;
    width: 119px;
    height: 32px;
    padding-left: 22px;
    padding-right: 22px;
}

/* FOOTER */
#footer-1 {
    border-top: 1px solid #E1E6EF;
    margin-top: 28px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

#footer-1 p {
    font-size: 12px;
    font-weight: 500;
    color: #6C717A;
}

#nav-2 {
    display: none;
}

#main-2 {
    display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 576px) {
    #nav-1 {
        display: none;
    }

    #main-1 {
        display: none;
    }

    /* NAVBAR */
    #nav-2 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #nav2-atas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #E1E6EF;
    }

    #nav2-logo-search img {
        width: 102px;
        height: 28px;
    }

    #nav2-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
    }

    #nav2-profile-bell {
        color: #005555;
    }

    #nav2-profile img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    #nav2-bawah {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        gap: 9px;
    }

    #nav2-bawah-search i {
        position: absolute;
        top: 99.5px;
        left: 38px;
        color: #6C717A;
    }

    #nav2-input {
        width: 320px;
        height: 42px;
        border-radius: 8px;
        border: 1px solid #E0E0E0;
        background-color: transparent;
        font-size: 12px;
        color: #6C717A;
        padding-left: 48px;
        padding-right: 16px;
    }

    #nav2-list {
        display: flex;
        flex-direction: row;
        width: 385px;
        white-space: nowrap;
        overflow-x: auto;
    }

    #nav2-list ul {
        display: flex;
        gap: 8px;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #nav2-list ul li {
        list-style: none;
    }

    #nav2-list ul li button {
        width: max-content;
        padding: 8px;
        border-radius: 16px;
        border: 1px solid #E0E0E0;
        background-color: #F8F9FC;
        font-size: 10px;
        color: #222325;
    }

    #nav2-list-button {
        width: max-content;
        border: none;
        background-color: transparent;
        font-size: 10px;
        font-weight: 500;
        color: #005555;
    }
}